h1{
    color: white;
 
    position: absolute;
    top:130px;
    left:420px;
    font-size: 50px;
     font-family: "NetflixSans-Regular", sans-serif;
     letter-spacing: 1px;
 }
.sub-cont{
    height: 155px;
    width:125px;
    border:2px solid black ;
    margin: 10px;
    
     
}


.container{
    display: flex;
    flex-direction:row;
     height: 100vh;
     /* we need to give container ht ,, as align-items/content only work if it has ht */ 

    justify-content: center;
    align-items:center;
   
}

.box{
width:190px;
    border: 1px solid grey;
    color: grey;
    background-color: black;
   
    position: absolute;
    top:470px;
    left:520px;
     font-family: "NetflixSans-Regular", sans-serif;
     letter-spacing: 4px;
    font-weight: 700;
     padding:8px 12px 8px 25px;
}


@font-face {
  font-family: "NetflixSans-Regular";
  src: url("fonts\NetflixSans-Regular.otf") format("otf");
       
  font-weight: 400;
  font-style: normal;
}

 .box:hover{
    border: 1px solid white;
    color: white;
      cursor: pointer;

}


img{
    width:100%;
} 


p{
    color: grey;
     font-family: "NetflixSans-Regular", sans-serif;
     padding-left: 38px;
     margin-top: 4px; 
} 

img:hover{
    border-color:white;
} 

.sub-cont:hover p {
    color: white;
}

.sub-cont:hover img {
    border: 2px solid white;
    cursor: pointer;
}

